@(products: List[Product])
<div class="col-xs-12 col-sm-10 col-md-10 bs-book-container">
    <div class="col-sm-6 col-md-3">
        <a href="order.html">
            <div class="thumbnail">
                <img class="img-responsive" src="@routes.Assets.at("images/play-for-java.png")">
                <div class="caption">
                    <h5 class="title">Play for Java: Covers Play 2</h5>
                    <small>Manning Publications</small>
                    <p class="bs-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i></p>
                    <small>Paper back</small>
                    <small class="bs-price"><i class="glyphicon glyphicon-euro"></i> 30</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a href="#">
            <div class="thumbnail">
                <img class="img-responsive" src="@routes.Assets.at("images/mongodb.png")">
                <div class="caption">
                    <h5 class="title">MongoDB: The Definitive Guide</h5>
                    <small>O'Reilly Media</small>
                    <p class="bs-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i></p>
                    <small>Paper back</small>
                    <small class="bs-price"><i class="glyphicon glyphicon-euro"></i> 30</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a href="#">
            <div class="thumbnail">
                <img class="img-responsive" src="@routes.Assets.at("images/secrets-of-the-javascript-ninja.png")">
                <div class="caption">
                    <h5 class="title">Secrets of the JavaScript Ninja</h5>
                    <small>Manning Publications</small>
                    <p class="bs-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i></p>
                    <small>Paper back</small>
                    <small class="bs-price"><i class="glyphicon glyphicon-euro"></i> 30</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a href="#">
            <div class="thumbnail">
                <img class="img-responsive" src="@routes.Assets.at("images/javascript-jQuery-the-missing-manual.png")">
                <div class="caption">
                    <h5 class="title">JavaScript & jQuery: The Missing Manual</h5>
                    <small>O'Reilly Media</small>
                    <p class="bs-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i></p>
                    <small>Paper back</small>
                    <small class="bs-price"><i class="glyphicon glyphicon-euro"></i> 30</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a href="#">
            <div class="thumbnail">
                <img class="img-responsive" src="@routes.Assets.at("images/eat-that-frog.png")">
                <div class="caption">
                    <h5 class="title">Eat That Frog!: 21 Great Ways to Stop Procrastinating and Get More Done in Less Time</h5>
                    <small> Brian Tracy</small>
                    <p class="bs-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i></p>
                    <small>Paper back</small>
                    <small class="bs-price"><i class="glyphicon glyphicon-euro"></i> 30</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a href="#">
            <div class="thumbnail">
                <img class="img-responsive" src="@routes.Assets.at("images/steve-jobs.png")">
                <div class="caption">
                    <h5 class="title">Steve Jobs</h5>
                    <small>Walter Isaacson</small>
                    <p class="bs-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i></p>
                    <small>Paper back</small>
                    <small class="bs-price"><i class="glyphicon glyphicon-euro"></i> 30</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a href="#">
            <div class="thumbnail">
                <img class="img-responsive" src="@routes.Assets.at("images/the-7-habits.png")">
                <div class="caption">
                    <h5 class="title">The 7 Habits of Highly Effective People</h5>
                    <small>Simon & Schuste</small>
                    <p class="bs-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i></p>
                    <small>Paper back</small>
                    <small class="bs-price"><i class="glyphicon glyphicon-euro"></i> 30</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a href="#">
            <div class="thumbnail">
                <img class="img-responsive" src="@routes.Assets.at("images/tony-northrup-dslr-book-how-to-create-stunning-digital-photography.png")">
                <div class="caption">
                    <h5 class="title">Tony Northrup's DSLR Book: How to Create Stunning Digital Photography</h5>
                    <small>Mason Press</small>
                    <p class="bs-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i></p>
                    <small>Paper back</small>
                    <small class="bs-price"><i class="glyphicon glyphicon-euro"></i> 30</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-3" ng-repeat="product in products">
        <a href="#">
            <div class="thumbnail">
                <img class="img-responsive" ng-src="">
                <div class="caption">
                    <h5 class="title">{{ product.name }}</h5>
                    <small>{{ product.company }}</small>
                    <p class="bs-rating"><i class="fa fa-star" ng-repeat="i in range(1, product.rating) track by $index"></i></p>
                    <small>Paper back</small>
                    <small class="bs-price"><i class="glyphicon glyphicon-euro"></i>{{ product.price | number : 2 }}</small>
                </div>
            </div>
        </a>
   </div>
   
    <div id="ajaxloader">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
</div>
