@layout{
<div ng-init="loadCart()"></div>
<h2>My Shopping Cart</h2>
<hr>
<div class="table-responsive">
    <div class="pull-right">
        <a href="@routes.BookStore.index()" class="btn btn-warning">Continue Shopping <i class="fa fa-briefcase"></i></a>
        <a data-toggle="modal" data-target="#paymentModal"  href="#" class="btn btn-success">Check out ! <i class="fa fa-credit-card"></i></a>
    </div>
    <div class="clearfix"></div>
    <br>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>PICTURE</th>
            <th>NAME</th>
            <th>AUTHOR</th>
            <th>COMPANY</th>
            <th>PRICE</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in cart">
            <td><img class="img-responsive" width="75" height="115" ng-src="/getImage/{{ item.imageName }}"></td>
            <td><h5><a href="/description/{{ item._id }}">{{ item.name }}</a></h5></td>
            <td>{{ item.author }}</td>
            <td>{{ item.company }}</td>
            <td>{{ item.price | number:2 }}</td>
        </tr>
        </tbody>
    </table>
    <hr>
    <div class="pull-right bs-total-price">
        <strong>Total price: </strong><span> <i class="fa fa-euro"></i>{{ getTotalPriceInCart() | number:2 }}</span>
    </div>
    <div class="clearfix"></div>
    <br>
    <div class="pull-right">
        <a href="@routes.BookStore.index()" class="btn btn-warning">Continue Shopping <i class="fa fa-briefcase"></i></a>
        <a data-toggle="modal" data-target="#paymentModal"  href="#" class="btn btn-success">Check out ! <i class="fa fa-credit-card"></i></a>
    </div>
</div>

<!-- Modal -->
<div class="form-group">
    <!-- Load addresses and accounts-->
    <div ng-init="loadAddresses()"></div>
    <div  ng-init="loadAccounts()"></div>
    <div class="bs-payment-modal modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="Payment window" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Payment information</h4>
                </div>
                <div class="modal-body" >
                    <div ng-bind-html="modalBody"></div>
                    <!-- Warning message-->
                    <div class="alert alert-danger" ng-if="addresses.length == 0 || accounts.length == 0">
                        <strong>Warning!</strong> You must add both<a href="@routes.BookStore.setting()" class="alert-link">an address and account</a> before continue paying process.
                    </div>

                    <form name="addressForm" class="form-horizontal" action="" method="POST" ng-if="addresses.length != 0 && accounts.length != 0 && !modalBody">
                        <h5>Choosing your address</h5>
                        <div class="radio" ng-repeat="address in addresses track by $index">
                            <label>
                                <input type="radio" name="addressRadio" id="address-{{ $index }}" ng-value="$index" ng-model="$parent.$parent.payment.address">
                                {{ address.street }}, {{ address.city }}, {{ address.country }}, {{ address.zipcode }}
                            </label>
                        </div>
                        <br>
                        <h5>Choosing your payment account</h5>
                        <div class="radio" ng-repeat="account in accounts track by $index">
                            <label>
                                <input type="radio" name="accountRadio" id="account-{{ $index }}" ng-value="$index" ng-model="$parent.$parent.payment.account">
                                {{ account.accountId }}, {{ account.type }} (Balance: {{ account.balance | number:2 }} euros)
                            </label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="handlePayment()">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>
}
