<form class="form-inline" role="form" style="">
    <div class="form-group">
        <div class="btn-group">
            <button type="button" class="btn btn-default  dropdown-toggle" data-toggle="dropdown">
                            Categories <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Computer</a></li>
                <li class="divider"></li>
                <li><a href="#">Fiction</a></li>
                <li class="divider"></li>
                <li><a href="#">History</a></li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <input type="text" name="search" class="form-control " placeholder="Book name, Author, ISBN" required="" style="width : 600px;">
    </div>
    <button class="btn btn-md btn-primary " type="submit">
                    Search <i class="glyphicon glyphicon-search"></i></button>
</form>
