<div class="col-xs-12 col-sm-2 col-md-2 hidden-xs bs-filter-side-container">
    <h5>Most Popular</h5>
    <ul class="list-unstyled">
        <li class="checkbox">
            <a>
                <label>
                    <input type="checkbox" value="">
                    Best seller (Month)
                </label>
            </a>
        </li>
        <li class="checkbox">
            <a>
                <label>
                    <input type="checkbox" value="">
                    Best seller (Year)
                </label>
            </a>
        </li>
    </ul>
    <h5>New Release</h5>
    <ul class="list-unstyled">
        <li class="checkbox">
            <a>
                <label>
                    <input type="checkbox" value="">
                    Last Month
                </label>
            </a>
        </li>
        <li class="checkbox">
            <a>
                <label>
                    <input type="checkbox" value="">
                    Last 3 months
                </label>
            </a>
        </li>
        <li class="checkbox">
            <a>
                <label>
                    <input type="checkbox" value="">
                    Last 6 months
                </label>
            </a>
        </li>
    </ul>
    <h5>Rating</h5>
    <ul class="list-unstyled">
        <li class="checkbox">
            <a>
                <label>
                    <input type="checkbox" value="">
                    </i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> & Up
                </label>
            </a>
        </li>
        <li class="checkbox">
            <a>
                <label>
                    <input type="checkbox" value="">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> & Up
                </label>
            </a>
        </li>
        <li class="checkbox">
            <a>
                <label>
                    <input type="checkbox" value="">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i> & Up
                </label>
            </a>
        </li>
    </ul>
    <h5>Language</h5>
    <ul class="list-unstyled">
        <li class="checkbox">
            <a>
                <label>
                    <input type="checkbox" value="">
                    French
                </label>
            </a>
        </li>
        <li class="checkbox">
            <a>
                <label>
                    <input type="checkbox" value="">
                    Foreign
                </label>
            </a>
        </li>
    </ul>
</div>