/*
 * Global introduction
 */
.intro-container{
    display: table;
    position: absolute;
    height: 80%;
    width: 100%;
}
.intro-wrapper{
    display: table-cell;
    vertical-align: middle;
    color: #EEEEEE;
}

/*
 * Sign up
 */

.signup-form-signup {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.signup-form-title {
    margin: 20px 0;
    text-align: center;
}
.signup-provider{
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
}

/*
 * Navbar head
*/

.navbar-brand{
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0,0,0,.75);
    font-size: 20px;
}
.navbar-brand:hover{
    color: #B3B3B3;
}

.navbar-head-btn{
    position: relative;
    z-index: 1031;
    margin-left: 0;
}

/*FullpageJs section*/

#signup-section{
    background: url('../images/bookstore.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#showcase-section{
    background: url('../images/bookstore1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#contactus-section{
    background: url('../images/bookstore.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

