/*
 * Introduction page
 */
.intro-form-container{
    display: table;
    position: absolute;
    height: 80%;
    width: 100%;
}
.intro-form-wrapper{
    display: table-cell;
    vertical-align: middle;
    color: #EEEEEE;
}
.intro-form-signup {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.intro-form-title {
    margin: 20px 0;
    text-align: center;
}

.navbar-brand{
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0,0,0,.75);
    font-size: 20px;
}
.navbar-brand:hover{
    color: #B3B3B3;
}
#signup-section{
    background: url('../images/bookstore.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#showcase-section{
    background: url('../images/bookstore1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#contactus-section{
    background: url('../images/bookstore.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

