@base() {
    <div class="navbar navbar-fixed-top bs-intro-navbar-brand" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand bs-intro-navbar-brand" href="@routes.Introduction.introduction()">BookStore</a>
            </div>
        </div>
    </div>
}{
<div id="introduction">
    <div id="signup-section" class="section">
        @signUp()
    </div>
    <div id="showcase-section" class="section">
        @showCase()
    </div>
    <div id="contactus-section" class="section">
        @contactUs()
    </div>
</div>
}(){
<script src='@routes.Assets.at("javascripts/jquery.fullPage.custom.js")'></script>
<script src='@routes.Assets.at("javascripts/jquery.fullPage.min.js")'></script>
<script src='@routes.Assets.at("javascripts/jquery.easings.min.js")'></script>
}