@import com.feth.play.module.pa.views.html._
<div class="container">
    <a class="navbar-text pull-right btn btn-md btn-success navbar-head-btn" href="#" role="button">Sign in</a>
    @currentAuth() { auth =>
        @if(auth != null) {
            <a href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout">Logout</a>
        }
    }
</div>
<div class="intro-form-container">
    <div class="intro-form-wrapper">
        <div class="signup-form-title">
            <h1>Welcome to BookStore!</h1>
            <h4>Bookstore has various kinds of books available for you.</h4>
        </div>
        <form class="signup-form-signup" role="form" method="POST" action="@routes.Introduction.signUp()">
            <input type="email" name="email" class="form-control" placeholder="Email address" required="" autofocus="">
            <input type="password" name="password" class="form-control" placeholder="Password" required="">
            <input type="text" name="username" class="form-control" placeholder="Username" required="">
            <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 5px;">Sign up</button>
            <div>
                <h5>or sign up using one of the following providers:</h5>
                @forProviders() { p =>
                    <a class="btn btn-social btn-google-plus" href="@p.getUrl()"><i class="fa fa-google-plus"></i>Sign in with @p.getKey()</a>
                }
            </div>
        </form>
    </div>

</div>

