<div class="container">
    @signInButton()
</div>
<div class="bs-intro-container">
    <div class="bs-intro-wrapper">
        <div class="bs-signup-form-title">
            <h1>Welcome to BookStore!</h1>
            <h4>Bookstore has various kinds of books available for you.</h4>
        </div>
        <form class="bs-signup-form-signup" role="form" method="POST" action="@securesocial.controllers.routes.Registration.startSignUp()">
            <input type="email" name="email" class="form-control" placeholder="Email address" required="">
            <input type="password" name="password" class="form-control" placeholder="Password" required="" disabled>
            <input type="text" name="username" class="form-control" placeholder="Username" required="" disabled>
            <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 5px;">Sign up</button>
        </form>
        <div class="bs-signup-provider">
            <hr>
            <h5>Or sign up with one of these accounts?</h5>
            <a class="btn btn-social-icon btn-google-plus" href="/authenticate/google"><i class="fa fa-google-plus"></i></a>
            <a class="btn btn-social-icon btn-facebook" href="/authenticate/facebook"><i class="fa fa-facebook"></i></a>
            <a class="btn btn-social-icon btn-twitter" href="/authenticate/twitter"><i class="fa fa-twitter"></i></a>
        </div>
    </div>
</div>
@footer("Germán Póo-Caamaño", "https://flic.kr/p/eHJWM3")
